.price-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-name {
  font-size: 32px;
}

.item-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}